{% extends "genererPlanning.html" %}
{% load static %}

{% block titre %} 
Ajouter un Radiologue 
{% endblock %}

{% block specifique %}

 <body class="grey lighten-2">

        
        <div class="titre blue"> <h3>AJOUTER UN RADIOLOGUE</h3> </div>
        <div class="section"></div>
        
          <div class="row">
              <div class="col s6">
               <form action="../../ajouterRadiologue/" method="post" >
                {% csrf_token %}
                 {{form.as_p}}


                <div class="section"></div>
                <div class="section"></div> 
                
               <div class="col s12">
                        <button class="btn waves-effect waves-light blue lighten-2" id="bouton_submit">Submit

                            <i class="material-icons right">send</i>
                        </button>
                    </div>
               </form>
      </div>

      <a href= "tableauDesAbsences" class="waves-effect waves-light btn blue"><i class="material-icons left ">beach_access</i>tableau des absences</a>


     <div class="section"></div> 
    <div class="section"></div>

<div class="row">
  <div class="col s6">
    <div class="card blue darken-3">
        <div class="card-content white-text">
              <span class="card-title">absences</span>
              <div id='calendar'></div>
        </div>
    </div>
  </div>
</div>
       



   

     <div class="section"></div> 
    <div class="section"></div> 


    <div class="waves-effect waves-light btn blue validationCalendrier"><i class="material-icons left ">arrow_forward</i>afficher les dates</div>

    <div class="listeDesJours" liste=""> </div>



     
{% endblock specifique %}