{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">

        

       
        

        
    </head>

    <body class="white lighten-2">

         {% include "html/barreNavigation.html" with titre="générer un planning"%}

        <div class="section"></div> 
    
      
     <!-- guide interactif -->  
    {% if guide %} 
    {% include "html/guide.html" with guide=guide %}
    {% endif %}


    {% block regions_anatomiques %}
        {% for item in liste %}
            {% include "html/collapsible_double.html" with a=item.region_anatomique liste=item.sous_rubriques titre=titre adresseImage=item.adresseImage path="Users/nicolas/Desktop/urgences/gestion_patient/static"%} 
        {% endfor %}
    {% endblock regions_anatomiques %}


{% block specifique %}
        
    <a href="/radio/ajouterRadiologue/" class="btn-floating btn-large waves-effect waves-light blue right"><i class="material-icons">add</i></a>    
        
        
    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Gestion des utilisateurs </div>
        
        {% for radiologue in radiologues %}
         <div class="collapsible-body"><a class="btn blue center" href="radio/modifierRadiologue?prenom={{radiologue.prenom}}"> {{radiologue.prenom}}</a> </div>
         {% endfor %}
          
        

    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>gestion des contraintes de plannings</div>
      <div class="collapsible-body"><span>contrainte 1</span></div>
    </li>
    
  </ul>



    <div class="section"></div>
    <div class="section"></div>


 <a class="waves-effect waves-light btn blue" onclick="document.location.href='genererPlanning?action=generer'"><i class="material-icons left">web</i>Generer un planning</a>
    
    <div class="section"></div>
    <div class="section"></div>

   


    <div class="row">
          <div class="col s8">
            <div class="card white ">
                <div class="card-content black-text grey lighten-2">
                    <span> <h2 class= "blue center" >Planning</h2></span>
                                <div class="section"> </div>

                                <table>
                                 <thead>
                                    <tr>
                                 <th>moment</th>
                                 <th>vacation</th>
                                 <th>personne</th>
                                    </tr>
                                 </thead> 

                                 <TBODY>

                                {% for v in lignesVacations %}

                                 {% if "lundi matin" in v.moment %}
                                 <tr>
                                    <td class=" yellow"> LUNDI MATIN </td>             
                                    <td class=" yellow"> {{v.intitule}} </td>
                                    <td class=" yellow "> {{v.responsable}}<td>
                                </tr>
                                {% endif %}
                                 {% if "lundi aprem" in v.moment %}
                                 <tr>
                                    <td class=" yellow darken-3"> LUNDI APREM </td>             
                                    <td class=" yellow darken-3"> {{v.intitule}} </td>
                                    <td class=" yellow darken-3 "> {{v.responsable}}<td>
                                        </tr>
                                    
                                {% endif %}
                                 {% if "mardi matin" in v.moment %}
                                 <tr>
                                    <td class=" green"> MARDI MATIN </td>             
                                    <td class=" green"> {{v.intitule}} </td>
                                    <td class=" green "> {{v.responsable}}<td>
                                        </tr>
                                {% endif %}
                                 {% if "mardi aprem" in v.moment %}
                                 <tr>
                                    <td class=" green darken-3"> MARDI APREM </td>             
                                    <td class=" green darken-3"> {{v.intitule}} </td>
                                    <td class=" green darken-3 "> {{v.responsable}}<td>
                                        </tr>
                                {% endif %}
                                 {% if "mercredi matin" in v.moment %}
                                 <tr>
                                    <td class=" blue"> MERCREDI MATIN </td>             
                                    <td class=" blue"> {{v.intitule}} </td>
                                    <td class=" blue "> {{v.responsable}}<td>
                                        </tr>
                                {% endif %}
                                 {% if "mercredi aprem" in v.moment %}
                                 <tr>
                                    <td class=" blue darken-3"> MERCREDI APREM </td>             
                                    <td class=" blue darken-3"> {{v.intitule}} </td>
                                    <td class=" blue darken-3 "> {{v.responsable}}<td>
                                        </tr>
                                {% endif %}
                                 {% if "jeudi matin" in v.moment %}
                                 <tr>
                                    <td class=" purple"> JEUDI MATIN </td>             
                                    <td class=" purple"> {{v.intitule}} </td>
                                    <td class=" purple"> {{v.responsable}}<td>
                                        </tr>
                                {% endif %}
                                 {% if "jeudi aprem" in v.moment %}
                                 <tr>
                                    <td class=" purple darken-3"> JEUDI APREM </td>             
                                    <td class=" purple darken-3"> {{v.intitule}} </td>
                                    <td class=" purple darken-3 "> {{v.responsable}}<td>
                                        </tr>
                                {% endif %}
                                 {% if "vendredi matin" in v.moment %}
                                 <tr>
                                    <td class=" teal"> VENDREDI MATIN </td>             
                                    <td class=" teal"> {{v.intitule}} </td>
                                    <td class=" teal "> {{v.responsable}}<td>
                                        </tr>
                                {% endif %}
                                 {% if "vendredi aprem" in v.moment %}
                                 <tr>
                                    <td class=" teal darken-3"> VENDREDI APREM </td>             
                                    <td class=" teal darken-3"> {{v.intitule}} </td>
                                    <td class=" teal darken-3 "> {{v.responsable}}<td>
                                        </tr>
                                {% endif %}
                                 {% if "samedi matin" in v.moment %}
                                 <tr>
                                    <td class=" pink"> SAMEDI MATIN </td>             
                                    <td class=" pink"> {{v.intitule}} </td>
                                    <td class=" pink "> {{v.responsable}}<td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                     </div> 
                </div>
            </div>


        <div class="col s4">
            <div class="card white ">
                <div class="card-content black-text grey lighten-2">
                    <span> <h2 class= "blue center" >statistiques</h2></span>
                            </TBODY>
                                <table>
                                     <thead>
                                            <tr>
                                         <th>nom</th>
                                         <th>temps cumulé</th>
                                         <th>écart</th>
                                         <th>homogénéité</th>
                                         <th>nombre de vacations</th>
                                            </tr>
                                     </thead> 
                                    <TBODY>   
                                        {% for s in lignesStatistiques %}
                                            <tr>
                                            <th> {{s.nom}} </td>    
                                            <td> {{s.tempsCumule}} </td>
                                            <td> {{s.ecart}}</td>
                                            <td> {{s.homogeneite}}</td>
                                            <td> {{s.nombreDeVacation}}</td>
                                                </tr>
                                        {% endfor %}
                                    </TBODY>
                                </table>
            
                            </div>
                        </div>
                    </div>




{% endblock specifique %}


  
  

{% block script %}        
<script>



$(document).ready(function(listeDesDates) {
          

            M.AutoInit();
            $('.optionnel').hide()
            $('select').formSelect();
            $('.tooltipped').tooltip();
            $('#id_indication').css("height","100px");
            $('#calendar').fullCalendar({

                  height: 300,
                  defaultView: 'month',

                  eventClick: function (calEvent, jsEvent, view) {
                    $('#calendar').fullCalendar('removeEvents', calEvent.id);
                  },

                  dayClick: function(date, jsEvent, view) {
                    var jour = date.format()
                    var evenement = {
                            title  : 'absence',
                            start  : jour,
                            eventColor: '#378006',
                            id: jour,
                          }    
                    //$('#calendar').fullCalendar( "addEventSource", evenement) 


                    
                    var tousLesEvenements =  $('#calendar').fullCalendar( "clientEvents")
                    var toutesLesDates = ""
                    for(var i= 0; i < tousLesEvenements.length; i++)
                    {
                      toutesLesDates = toutesLesDates + tousLesEvenements[i].start.format()
                    } 
                    var cetteDate = evenement.start

                    
                    if (toutesLesDates.indexOf(cetteDate) == -1) {
                        $('#calendar').fullCalendar( "renderEvent", evenement, true)
                    }
                  

                    afficherListe() 
                     }
              

            });

               implementerLeCalendrier() 
      
    


      $(".select-wrapper").change(function(){
        jour = $("#jourSansTravail").val()
        remiseZeroCalendrier()
        $(".fc-day."+ jour).css('background-color','red')
        afficherListe()
      });

      $("#ajouterVacFixe").click(function(){
        vacation = $("#fixe").val() + " "+ $("#jourVacFixe").val() + " " + $("#momentVacFixe").val()
        var ancien = $("#id_vacationFixe").val()
        $("#id_vacationFixe").val(ancien + "xxx" + vacation)
      });


});




</script>

{% endblock script %} 



